In [1]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\hasyr\anaconda3\lib\site-packages (2.2.15)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [17]:
producer = KafkaProducer(bootstrap_servers=['3.137.139.188:9092'],
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [18]:
#producer.send('demotopic', value={'hasy':'huuuudds'})

In [19]:
df=pd.read_csv("C://Users//hasyr//OneDrive//Documents//data//indexProcessed.csv")

In [6]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [7]:
df.sample(1).to_dict(orient='records')[0]

{'Index': 'IXIC',
 'Date': '1987-12-07',
 'Open': 293.700012,
 'High': 294.899994,
 'Low': 292.899994,
 'Close': 294.799988,
 'Adj Close': 294.799988,
 'Volume': 118330000.0,
 'CloseUSD': 294.799988}

In [30]:
while True:
    dict_stock=df.sample(1).to_dict(orient='records')[0]
    producer.send('demotopic', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [31]:
producer.flush()